<p id="notice"><%= notice %></p>

<p>
  <strong>Task name:</strong>
  <%= @table.task_name %>
</p>

<p>
  <strong>Task details:</strong>
  <%= @table.task_details %>
</p>

<%= link_to 'Edit', edit_table_path(@table) %> |
<%= link_to 'Back', tables_path %>
