<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tassk.name %>
</p>

<p>
  <strong>Details:</strong>
  <%= @tassk.details %>
</p>

<%= link_to 'Edit', edit_tassk_path(@tassk) %> |
<%= link_to 'Back', tassks_path %>
